<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
      </div>
      <div class="name col-xs-4">
        <h1>Herve Tunga</h1>
      </div>
    </div>
  </div>
</div>

<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>
        Hello. My name is 
        <span class="highlight">Herve Tunga</span> 
        and I have creative ideas and build websites
      </h2>
      
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
  </div>
</div>

